.title {
    font-family: General Sans;
    font-style: normal;
    line-height: normal;
    text-shadow: 1px 1px $color-negro;
    &1 {
        @extend .title;
        font-size: 2.88rem;
        font-weight: 600;

        @include mq($from: desktop) {
            font-size: 5.06rem;
        }
    }
    &2 {
        @extend .title;
        font-size: 2.56rem;
        font-weight: 500;

        @include mq($from: desktop) {
            font-size: 4.5rem;
        }
    }
    &3 {
        @extend .title;
        font-size: 2.25rem;
        font-weight: 500;

        @include mq($from: desktop) {
            font-size: 3.94rem;
        }
    }
}
h {
    font-family: General Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px $color-negro;
    &1 {
        @extend h;
        font-size: 2rem;

        @include mq($from: desktop) {
            font-size: 3.5rem;
        }
    }
    &2 {
        @extend h;
        font-size: 1.75rem;

        @include mq($from: desktop) {
            font-size: 3.06rem;
        }
    }
    &3 {
        @extend h;
        font-size: 1.5rem;

        @include mq($from: desktop) {
            font-size: 2.63rem;
        }
    }
    &4 {
        @extend h;
        font-size: 1.25rem;

        @include mq($from: desktop) {
            font-size: 2.19rem;
        }
    }
}

p {
    font-size: 1rem;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mq($from: desktop) {
        font-size: 1.75rem;
    }
}

label {
    font-size: 1.25rem;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mq($from: desktop) {
        font-size: 2.19rem;
    }
}

.minitext {
    font-size: 1rem;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mq($from: desktop) {
        font-size: 1.25rem;
    }
}
