/* Text-size styles */

$pc-title1: 5.06rem;
$pc-title2: 4.5rem;
$pc-title3: 4rem;
$pc-h1: 3.56rem;
$pc-h2: 3.12rem;
$pc-h3: 2.81rem;
$pc-h4: 2.5rem;
$pc-p: 1.75rem;
$pc-p--link: 1.75rem;
$pc-label: 2.19rem;
$pc-button: 2.19rem;
$pc-minitext: 1.25rem;
$mb-title1: 2.88rem;
$mb-title2: 2.56rem;
$mb-title3: 2.25rem;
$mb-h1: 2rem;
$mb-h2: 1.81rem;
$mb-h3: 1.62rem;
$mb-h4: 1.44rem;
$mb-p: 1rem;
$mb-p--link: 1rem;
$mb-label: 1.25rem;
$mb-button: 1.25rem;
$mb-minitext: 1rem;
