:root {
    --black: #110300;
    --gainsboro: #d9d9d9;
    --swimmer: #0892b6;
    --sapphire: #135c7d;
    --green: #94b755;
    --camel: #b7977a;
    --feverish: #d96575;
    --lilac: #978cb6;
    --midnight: #232037;
    --olive: #4c6340;
    --chocolate: #61473a;
    --yellow: #e0dc71;
}
