.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 3rem;
    flex-shrink: 0;
    padding: 0rem 0.1rem 0rem 0.1rem;
    @include mq($from: tablet) {
        justify-content: space-around;
        row-gap: 6.25rem;
        flex-shrink: 0;
        text-align: left;
    }
    h1 {
        flex-shrink: 0;
        width: 100%;
        padding: 0 4rem;
        color: var(--text-secondary);
        text-align: center;
        text-shadow: 1px 1px $color-negro;
        @include mq($from: tablet) {
            padding: 0;
        }
        @include mq($from: desktop) {
            width: 28rem;
            text-align: left;
        }
    }
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.125rem;
    flex-shrink: 0;

    @include mq($from: tablet) {
        gap: 0.75rem;
        padding: 0.4375rem 12.5rem;
    }
    &__title {
        color: var(--text-primary);
        text-shadow: 1px 1px $color-negro;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.375rem;
        flex-shrink: 0;
        align-self: stretch;
        padding: 2.25rem 1rem;
        background: var(--fondo-transparente);
        border: 14px solid var(--borde-borde);
        border-radius: 2.5rem;

        @include mq($from: tablet) {
            box-shadow: 0px 4px 4px 0px rgba(17, 3, 0, 0.65);
            gap: 1.625rem;
            padding: 2.625rem 1.875rem;
            background: var(--fondo-transparente);
            border: 28px solid var(--borde-borde);
            border-radius: var(--radio, 2.5rem);
        }
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
    }
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @include mq($from: desktop) {
        padding: 0rem 5.9375rem;
        gap: 3.75rem;
        justify-content: flex-start;
        height: 30rem;
        flex-wrap: nowrap;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        border-radius: var(--radio, 2.5rem);
        outline: 14px solid var(--borde-borde, #135c7d);
        background: var(--fondo-transparente, rgba(217, 217, 217, 0.82));
        box-shadow: 0px 14px 14px 0px rgba(17, 3, 0, 0.65);
        width: 95%;
        &-lists {
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            border-radius: 2rem;
            background-color: var(--fondo-capa2);

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0.5rem;
            }
        }
        @include mq($from: desktop) {
            justify-content: space-around;
            width: 25%;
            height: auto;
            max-height: 100%;
            border-radius: var(--radio, 2.5rem);
            box-shadow: 0px 20px 34px 0px rgba(17, 3, 0, 0.65);
            outline: 28px solid var(--borde-borde, #135c7d);
            background: var(--fondo-transparente, rgba(217, 217, 217, 0.82));
        }
    }
    &__header {
        position: relative;
        flex-direction: row;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq($from: desktop) {
            gap: 2rem;
            width: 85%;
            justify-content: space-around;
            position: absolute;
            justify-content: start;
            top: 1rem;
        }
        .cartel {
            @extend .btn-text;
            display: none;
            @include mq($from: desktop) {
                display: flex;
                height: 5.625rem;
                padding: 0.6875rem 1.5rem;
                align-items: center;
                align-self: stretch;
                border-radius: var(--cartel-radio, 2.5rem);
                background: var(--color-marron, #61473a);
                color: var(--cartel-text, #d9d9d9);
            }

            &__cuerda {
                position: relative;
                bottom: 3.25rem;
            }

            &__gnome {
                border-radius: 50%;
                background-color: var(--cartel-gnome);
                padding: 0.4375rem;
                width: 4.875rem;
                height: 4.875rem;
                color: var(--fondo-capa2);
                margin-right: 1rem;
                svg {
                    position: relative;
                    bottom: 2rem;
                    left: 3.5rem;
                }
            }
        }
    }
}

.settings {
    display: flex;
    min-width: 22.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0;

    @include mq($from: tablet) {
        padding: 0.4375rem 6.25rem;
        gap: 1.75rem;
    }

    form {
        display: contents;
        @include mq($from: tablet) {
            display: block;
        }
    }

    &__container {
        display: flex;
        padding: 2.25rem 1rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        align-self: stretch;
        border-radius: 2.5rem;
        border: 14px solid var(--borde-borde);
        background: var(--fondo-settings);

        @include mq($from: tablet) {
            padding: 2.625rem;
            border: 28px solid var(--borde-borde);
        }
    }
}
