.home {
    gap: 6.25rem;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    align-content: center;
    align-items: center;
    padding: 0rem 0.1rem 0rem 0.1rem;

    @include mq($from: tablet) {
        row-gap: 6.25rem;
        flex-shrink: 0;
        justify-content: space-around;
        text-align: left;
    }
    @include mq($from: desktop) {
        padding: 0rem 1.25rem 0rem 1.25rem;
    }
    h1 {
        flex-shrink: 0;
        width: 100%;
        padding: 0 4rem;
        color: var(--text-secondary);
        text-align: center;
        @include mq($from: tablet) {
            padding: 0;
        }
        @include mq($from: desktop) {
            width: 28.8125rem;
            text-align: left;
        }
    }
}

.profile {
    display: flex;
    width: 22.5rem;
    height: 45.875rem;
    min-width: 22.5rem;
    max-width: 33.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.125rem;
    flex-shrink: 0;
    @include mq($from: tablet) {
        display: flex;
        width: 90rem;
        height: 54.25rem;
        padding: var(--espaciado-mobile-80, 0.4375rem) 12.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--espaciado-desktop-100, 1.75rem);
        flex-shrink: 0;
    }
    // apply border every subcomponent
    border: 4px solid var(--border-color);
}
