header {
    display: flex;
    flex-shrink: 0;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 20px;
    span {
        @include screen-reader-focusable;
    }
}
