body {
    color: var(--text-primary);
    background: var(--bg-color);
    overflow-x: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

@keyframes MoveUpDown {
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    0% {
        transform: translateY(0);
    }
}

@keyframes MoveSideWays {
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    0% {
        transform: translateX(0);
    }
}

.arena {
    color: var(--fondo-arena, #b7977a);
    z-index: -1;
    position: fixed;
    bottom: -47rem;
    @include mq($from: desktop) {
        right: 0;
    }
}

.wave {
    z-index: -1;
    position: fixed;
    left: 0;
    width: 1500px;

    &-arena {
        z-index: -1;
        bottom: 0;
        left: -10px;
        position: fixed;
        animation: MoveSideWays 5s linear infinite;
        -webkit-animation: MoveSideWays 5s linear infinite;
        color: var(--fondo-capa2, #135c7d);
    }
    &-1 {
        @extend .wave;
        bottom: 100px;
        color: var(--fondo-capa2);
        @include mq($from: tablet) {
            top: -10%;
            width: 100%;
            height: 100vh;
        }
        animation: MoveUpDown 5s linear infinite;
        -webkit-animation: MoveUpDown 5s linear infinite;
    }

    &-2 {
        @extend .wave;
        color: var(--fondo-capa3);
        bottom: -10%;
        @include mq($from: tablet) {
            bottom: -20%;
            width: 100vw;
            width: 100%;
            height: 100vh;
        }

        animation: MoveUpDown 4s infinite linear;
        animation-delay: 0.4s;
        -webkit-animation: MoveUpDown 4s infinite linear;
        -webkit-animation-delay: 0.4s;
    }
}
