:root {
    --bg-color: #{$color-turquesa};
    --text-primary: #{$color-negro};
    --text-secondary: #{$color-gainsboro};
    --text-placeholder: #{$color-zafiro};

    --borde-borde: #{$color-zafiro};
    --borde-input: #{$color-zafiro};

    --modal-borde: var(--borde-borde);
    --modal-fondo: #{$color-light-transparency};

    --button-fondo: #{$color-lima};
    --button-text: #{$color-negro};
    --button-borde: var(--borde-borde);
    --button-error: #{$color-rojo};
    --button-fondo-danger: #{$color-rosa};
    --button-fondo-icono: var(--button-fondo);
    --button-fondo-icono-danger: var(--button-fondo-danger);

    --fondo-arena: #{$color-camel};
    --fondo-capa1: #{$color-turquesa};
    --fondo-capa2: #{$color-zafiro};
    --fondo-capa3: #{$color-zafiro-oscuro};
    --fondo-hojas: #{$color-lima};
    --fondo-settings: #{$color-light-transparency};
    --fondo-transparente: #{$color-light-transparency};

    --session-borde: #{$color-zafiro};
    --session-fondo: #{$color-turquesa};
    --session-text: var(--button-text);

    --input-borde: #{$color-zafiro};
    --input-disabled: #{$color-dark-transparency};
    --input-fondo: #{$color-gainsboro};
    --input-fondo-disabled: var(--fondo-transparente);
    --input-helper: var(--button-error);
    --input-icon: #{$color-zafiro};

    --resources-category-dropdown: #{$color-lima};
    --resources-category-text: var(--button-text);
    --resources-details: #{$color-zafiro};
    --resources-icon: var(--resources-details);
    --resources-item: #{$color-turquesa};
    --resources-item-border: var(--resources-details);
    --resources-item-text: var(--text-primary);

    --profile-default: #{$color-light-transparency};
    --profile-new: #{$color-camel};
    --profile-selected: #{$color-gainsboro};

    --task-border: #{$color-zafiro};
    --task-btn: var(--button-fondo-icono);
    --task-header: #{$color-light-transparency};
}
[data-theme="dark"] {
    --bg-color: #{$color-negro};
    --text-primary: #{$color-gainsboro};
    --text-placeholder: #{$color-violeta};

    --borde-borde: #{$color-morado};
    --borde-input: #{$color-amarillo};

    --modal-fondo: #{$color-morado-oscuro};

    --button-fondo: #{$color-violeta};
    --button-error: #{$color-rosa};
    --button-fondo-danger: #{$color-amarillo};

    --fondo-arena: #{$color-marron};
    --fondo-capa1: #{$color-negro};
    --fondo-capa2: #{$color-morado};
    --fondo-capa3: #{$color-morado-oscuro};
    --fondo-hojas: #{$color-bosque};
    --fondo-settings: #{$color-morado-oscuro};
    --fondo-transparente: #{$color-dark-transparency};

    --session-borde: #{$color-morado};
    --session-fondo: #{$color-violeta};

    --input-borde: #{$color-amarillo};
    --input-disabled: #{$color-morado};
    --input-fondo: #{$color-morado};
    --input-icon: #{$color-amarillo};

    --resources-category-dropdown: #{$color-violeta};
    --resources-details: #{$color-morado};
    --resources-item: #{$color-morado-oscuro};

    --profile-default: #{$color-morado-oscuro};
    --profile-new: #{$color-marron};
    --profile-selected: #{$color-morado};

    --task-border: #{$color-violeta};
    --task-header: #{$color-dark-transparency};
}
