:root {
    --bg-color: #{$color-turquesa};
    --text-primary: #{$color-negro};
    --text-secondary: #{$color-gainsboro};

    --modal-borde: #{$color-zafiro};
    --modal-fondo: #{$color-light-transparency};

    --button-fondo: #{$color-lima};
    --button-text: #{$color-negro};
    --button-borde: #{$color-zafiro};
    --button-error: #{$color-rojo};
    --button-fondo-danger: #{color-rosa};
    --button-fondo-icono: --button-fondo;
    --button-fondo-icono-danger: --button-fondo-danger;
}
[data-theme="dark"] {
    --bg-color: #{$color-negro};
    --text-primary: #{$color-gainsboro};

    --modal-borde: #{$color-morado};
    --modal-fondo: #{$color-morado-oscuro};

    --button-fondo: #{$color-violeta};
    --button-borde: #{$color-morado};
    --button-error: #{$color-rosa};
    --button-fondo-danger: #{color-amarillo};
    --button-fondo-icono: --button-fondo;
    --button-fondo-icono-danger: --button-fondo-danger;
}
