:root {
    --black: #110300;
    --gainsboro: #d9d9d9;
    --swimmer: #0892b6;
    --sapphire: #135c7d;
    --green: #94b755;
    --camel: #b7977a;
    --feverish: #d96575;
    --lilac: #978cb6;
    --midnight: #232037;
    --olive: #4c6340;
    --chocolate: #61473a;
    --yellow: #e0dc71;

    --font-color: #000;
    --link-color: #1c75b9;
    --link-white-color: #fff;
    --bg-color: rgb(243, 243, 243);
}
[data-theme="dark"] {
    --font-color: #bdbab8;
    --link-color: #0a86da;
    --link-white-color: #bdbab8;
    --bg-color: #333;
}
body {
    background: var(--bg-color);
}
/* Effect styles */
$dark: 0px 4px 4px rgba(17, 3, 0, 0.65);
$sombra: 0px 4px 4px rgba(17, 3, 0, 0.25);

/* 
$themes: (
    Mode 1:
        (
            $color-amarillo: hsl(58 64% 66%) ; $color-bosque: hsl(99 21% 32%) ; $color-camel:
                hsl(29 30% 60%) ; $color-dark-transparency: hsl(11 100% 3% / 0.82) ; $color-gainsboro: hsl(0 0 85%) ;
                $color-light-transparency: hsl(0 0 85% / 0.82) ; $color-lima: hsl(81 40% 53%) ; $color-marron:
                hsl(20 25% 30%) ; $color-morado: hsl(248 26% 17%) ; $color-morado-oscuro: hsl(248 29% 13%) ;
                $color-negro: hsl(11 100% 3%) ; $color-rojo: hsl(0 100% 26%) ; $color-rosa: hsl(352 60% 62%) ;
                $color-turquesa: hsl(192 92% 37%) ; $color-violeta: hsl(256 22% 63%) ; $color-zafiro: hsl(199 74% 28%) ;
                $color-zafiro-oscuro: hsl(199 67% 23%) ;  $espaciado-desktop-80: 12px;
                $espaciado-desktop-90: 19px; $espaciado-desktop-100: 28px; $espaciado-desktop-200: 42px;
                $espaciado-desktop-300: 63px; $espaciado-desktop-400: 95px; $espaciado-desktop-500: 142px;
                $espaciado-desktop-600: 213px; $espaciado-mobile-80: 7px; $espaciado-mobile-90: 11px;
                $espaciado-mobile-100: 16px; $espaciado-mobile-200: 24px; $espaciado-mobile-300: 36px;
                $espaciado-mobile-400: 54px; $espaciado-mobile-500: 81px; $espaciado-mobile-600: 122px; $radio-100: 5px;
                $radio-200: 10px; $radio-300: 20px; $radio-400: 40px; $size-desktop-80: 22px; $size-desktop-90: 25px;
                $size-desktop-100: 28px; $size-desktop-200: 32px; $size-desktop-300: 35px; $size-desktop-400: 40px;
                $size-desktop-500: 45px; $size-desktop-600: 50px; $size-desktop-700: 57px; $size-desktop-800: 64px;
                $size-desktop-900: 72px; $size-desktop-1000: 81px; $size-mobile-80: 13px; $size-mobile-90: 14px;
                $size-mobile-100: 16px; $size-mobile-200: 18px; $size-mobile-300: 20px; $size-mobile-400: 23px;
                $size-mobile-500: 26px; $size-mobile-600: 29px; $size-mobile-700: 32px; $size-mobile-800: 36px;
                $size-mobile-900: 41px; $size-mobile-1000: 46px;
        )
);
$themes: (
    Default: (
        $icons: $text-primary; $borde-borde: $zafiro-morado; $borde-input: $zafiro-amarillo; $button-borde:
            $zafiro-morado; $button-error: $rojo-rosa; $button-fondo: $lima-violeta; $button-fondo-danger:
            $rosa-amarillo; $button-fondo-icono: $button-fondo; $button-fondo-icono-danger: $button-fondo-danger;
            $button-text: $color-negro; $cartel-cuerdas: hsl(19 31% 20%) ; $cartel-fondo: $color-marron; $cartel-text:
            $text-secondary; $cartel-gnome-borde: $zafiro-morado; $cartel-gnome-btn-cartel: $zafiro-morado;
            $cartel-gnome-fondo: $turquesa-negro; $cartel-gnome-fondo-cartel: $lima-violeta; $cartel-gnome-fondo-nuevo:
            $marrones; $fondo-arena: $marrones; $fondo-capa1: $turquesa-negro; $fondo-capa2: $zafiro-morado;
            $fondo-capa3: $dark-zafiro-dark-morado; $fondo-hojas: $verdes; $fondo-settings: $light-morado-oscuro;
            $fondo-transparente: $light-dark-transparency; $input-borde: $zafiro-amarillo; $input-disabled:
            $dark-morado; $input-fondo: $gainsboro-morado; $input-fondo-disabled: $light-dark-transparency;
            $input-helper: $button-error; $input-icon: $zafiro-amarillo; $pop-up-borde: $borde-borde; $pop-up-fondo:
            $light-morado-oscuro; $profile-default: $light-morado-oscuro; $profile-new: $marrones; $profile-selected:
            $gainsboro-morado; $resources-category-dropdown: $lima-violeta; $resources-category-text: $button-text;
            $resources-details: $zafiro-morado; $resources-icon: $resources-details; $resources-item:
            $turquesa-dark-morado; $resources-item-border: $resources-details; $resources-item-text: $text-primary;
            $session-borde: $zafiro-morado; $session-fondo: $turquesa-violeta; $session-text: $button-text; $task-border:
            $zafiro-violeta; $task-btn: $button-fondo-icono; $task-header: $light-dark-transparency; $text-label:
            $text-primary; $text-link: $text-primary; $text-placeholder: $zafiro-violeta; $text-primary:
            $negro-gainsboro; $text-secondary: $color-gainsboro; $text-warning: $color-rosa;
    )
);
$themes: (
    Light: (
         $dark-morado: $color-dark-transparency; $dark-zafiro-dark-morado: $color-zafiro-oscuro;
            $gainsboro-morado: $color-gainsboro; $light-dark-transparency: $color-light-transparency;
            $light-morado-oscuro: $color-light-transparency; $lima-amarillo: $color-lima; $lima-violeta: $color-lima;
            $marrones: $color-camel; $negro-gainsboro: $color-negro; $rojo-rosa: $color-rojo; $rosa-amarillo:
            $color-rosa; $turquesa-dark-morado: $color-turquesa; $turquesa-negro: $color-turquesa; $turquesa-violeta:
            $color-turquesa; $verdes: $color-lima; $zafiro-amarillo: $color-zafiro; $zafiro-morado: $color-zafiro;
            $zafiro-violeta: $color-zafiro;
    ),
    Dark: (
        $dark-morado: $color-morado; $dark-zafiro-dark-morado: $color-morado-oscuro; $gainsboro-morado:
            $color-morado; $light-dark-transparency: $color-dark-transparency; $light-morado-oscuro:
            $color-morado-oscuro; $lima-amarillo: $color-amarillo; $lima-violeta: $color-violeta; $marrones:
            $color-marron; $negro-gainsboro: $color-gainsboro; $rojo-rosa: $color-rosa; $rosa-amarillo: $color-amarillo;
            $turquesa-dark-morado: $color-morado-oscuro; $turquesa-negro: $color-negro; $turquesa-violeta:
            $color-violeta; $verdes: $color-bosque; $zafiro-amarillo: $color-amarillo; $zafiro-morado: $color-morado;
            $zafiro-violeta: $color-violeta;
    )
);
$themes: (
    Desktop: (
        $radio-xs: $radio-100; $radio-m: $radio-200; $padding-80: $espaciado-desktop-80; $padding-90:
            $espaciado-desktop-90; $padding-100: $espaciado-desktop-100; $radio-l: $radio-400; $padding-200:
            $espaciado-desktop-200; $padding-300: $espaciado-desktop-300; $button-vertical-padding: $padding-80;
            $button-radio: $radio-l; $button-horizontal-padding: $padding-300; $cartel-gap: 5px;
            $cartel-vertical-padding: $padding-90; $cartel-horizontal-padding: $cartel-radio; $cartel-radio: $radio-l;
            $dropdown-radio: $radio-xs; $dropdown-icon-padding: $padding-80; $dropdown-vertical-padding: $padding-80;
            $dropdown-horizontal-padding: $padding-90; $dropdown-item-vpadding: $padding-80; $dropdown-item-hpadding:
            $dropdown-horizontal-padding; $fieldset-gap: $padding-80; $fieldset-label-hpadding: $padding-100;
            $input-vertical-padding: $padding-80; $input-horizontal-padding: $padding-100; $input-icon:
            $size-desktop-300; $input-radio: $radio-l; $session-radio: $radio-m; $session-horizontal-padding:
            $padding-90; $session-vertical-padding: $padding-300;
    ),
    Mobile: (
        $radio-xs: $radio-100; $padding-80: $espaciado-mobile-80; $radio-m: $radio-200; $padding-90:
            $espaciado-mobile-90; $padding-100: $espaciado-mobile-100; $padding-200: $espaciado-mobile-200; $padding-300:
            $espaciado-mobile-300; $radio-l: $radio-400; $button-vertical-padding: $padding-80; $button-radio: $radio-l;
            $button-horizontal-padding: $padding-300; $cartel-gap: 2px; $cartel-vertical-padding: $padding-90;
            $cartel-horizontal-padding: $cartel-radio; $cartel-radio: $radio-l; $dropdown-radio: $radio-xs;
            $dropdown-icon-padding: $padding-80; $dropdown-vertical-padding: $padding-80; $dropdown-horizontal-padding:
            $padding-90; $dropdown-item-hpadding: $dropdown-horizontal-padding; $dropdown-item-vpadding: $padding-90;
            $fieldset-gap: $padding-80; $fieldset-label-hpadding: $padding-100; $input-vertical-padding: $padding-90;
            $input-icon: $size-mobile-300; $input-radio: $radio-l; $input-horizontal-padding: $padding-200;
            $session-radio: $radio-m; $session-horizontal-padding: $padding-90; $session-vertical-padding: $padding-300;
    )
);

$breakpoints: (
    "small": 767px,
    "medium": 992px,
    "large": 1200px
);
 */
