.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0.4375rem 1.8rem;
    font-size: 1.25rem;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--button-text, #110300);
    background: var(--button-fondo);
    border-radius: 40px;
    box-shadow: $sombra;
    cursor: pointer;

    @include mq($from: desktop) {
        width: auto;
        padding: 12px 63px;
        font-size: 2.19rem;
    }
    &-danger {
        @extend .btn;
        background: var(--button-fondo-danger);
    }
    &-UI {
        cursor: pointer;
        &theme {
            @extend .btn-UI;
            @include size(67px);
            background-image: url(@/assets/img/si_Sun.svg);
            [data-theme="dark"] & {
                background-image: url(@/assets/img/moon.svg);
            }
        }
        &swap {
            @extend .btn-UI;
            @include size(67px);
            background-image: url("@/assets/img/si_Swap_horiz.svg");
            @include mq($from: desktop) {
                visibility: hidden;
            }
        }
        &github {
            @extend .btn-UI;
            @include size(48px);
        }
        &logOut {
            @extend .btn-UI;
            @include size(48px);
            background-image: url("@/assets/img/si_Sign_out.svg");
        }
        [data-theme="dark"] & {
            @include colorize-gainsboro;
        }
    }
}
