@import "./base/_normalize";
@import "./base/variables";

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
html {
    background-image: none;
    background: rgb(19, 92, 125);
    background: -moz-linear-gradient(180deg, rgba(19, 92, 125, 1) 0%, rgba(8, 146, 182, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(19, 92, 125, 1) 0%, rgba(8, 146, 182, 1) 100%);
    background: linear-gradient(180deg, rgba(19, 92, 125, 1) 0%, rgba(8, 146, 182, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#135c7d",endColorstr="#0892b6",GradientType=1);
}
